body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  color: white;
  text-align: center;
}

#firstheading {
  font-weight: normal;
  font-size: 50px;
}

#secondheading {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: Aquamarine;
  font-size: 16px;
}
